<app-map></app-map>
<div
  class="day"
  *ngFor="let event of events">
    <a class="event" [routerLink]="['event', event.slug]">
      <div class="title">
        <h2>{{ event.title.rendered }}</h2>
        <p *ngIf="event.acf.lineup">
          <span *ngFor="let name of event.acf.lineup">
              {{ name.person.title }}
          </span>
        </p>
      </div>
      <div class="location">
        <p>{{ event.acf.venue.post_title }}</p>
        <p>{{ formatTime(event.acf.time) }}</p>
      </div>
    </a>
</div>
