.time {
  display: flex;
  width: 80%;
  margin: 0 5px;
}

.event {
  background: #ddd;
  margin: 5px;
  min-height: 160px;
  width: 25%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  color: #111;
  transition: background .3s;
}

.event:hover {
  background: #ccc;
}

h1 {
  font-size: 1em;
  margin: 10px;
}

h2 {
  font-size: 1.4em;
}

.location {
  position: absolute;
  bottom: 1em;
}
