<app-map></app-map>
<div class="container" *ngIf="events">
  <ng-container *ngFor="let event of events">
  <div class="tiles">
    <div class="title">
      <h1>{{ event.title.rendered }}</h1>
      <span [innerHtml]="event.acf.description"></span>
    </div>
    <div class="speaker">
      <div *ngFor="let lineup of event.acf.lineup">
        <img src="http://placehold.it/150x150" />
        <h1>{{ lineup.person.post_title }}</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
    <div class="venue">
      <img src="http://placehold.it/300x200" />
      <h1>Venue Name</h1>
      <p>123 Easy Street<br/>
      Raleigh, NC 27606</p>
    </div>
  </div>
  </ng-container>
</div>
